body {
  background-color: #ffe6f9;
  font-family: helvetica;
  font-size: 16px;
  padding: 40px;
}

img {
  width: 100%;
  padding-bottom: 20px;
}

h5 {
  font-weight: bolder;
  font-family: papyrus;
}

nav {
  padding-left: 40%;
  color: red;
  font-weight: bold;
  font-family: papyrus;
  font-size: 17px;
}

nav ul {
  padding: 5px;
  float: left;
  list-style-type: none;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  height: 10px;
  padding: 12px 18px 8px 18px;
  vertical-align: middle;
}

h1 {
  color: blue;
  font-family: papyrus;
}
h2 {
  color: maroon;
}
p {
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 10px:
}
.row {
  padding-top: 70px;
}

.col-md-12 {
  padding: 0px;
  text-align: center;
}
